body {
  background: url(/img/background.jpg)
}

h1 {
  margin: 0;
}

.ticket-name {
  font-size: 2rem;
  text-align: center;
}

.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.flex-row > div {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.estimate-value {
  box-sizing: border-box;
  margin: 5px 1% 20px;
  text-align: center;
  border: 1px solid transparent;
  position: relative;
}

.estimates {
  height: 200px;
  margin: 0 auto;
  -webkit-align-items: flex-end;
}

.app-container {
  width: 80%;
  margin: 0 auto;
}

.estimate {
  box-sizing: border-box;
  margin: 0 1%;
  height: 30px;
  background: #FAFAFA;
  border: 1px solid #CCC;
  position: relative;
  transition: height 500ms;
}

.estimate.voted {
  background: #0088cc;
  color: #FFF;
}

.estimate.winner {
  background: #0088cc;
}

.controls {
  margin: 0 auto;
  display: none;
  text-align: center;
}

.messaging {
  padding: 0;
  margin-left: 20px;
  list-style: none;
  font-size: 1rem;
}
