body {
  background: url(/img/background.jpg)
}

h1 {
  margin: 0;
}

.ticket-name {
  font-size: 2rem;
  text-align: center;
}

.estimates {
  height: 200px;
  margin: 0 auto 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: flex-end;
}

.app-container {
  width: 80%;
  margin: 0 auto;
}

.estimate {
  box-sizing: border-box;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  margin: 0 1%;
  height: 30px;
  background: #EFEFEF;
  border: 1px solid #CCC;
  position: relative;
  transition: height 500ms;
}

.estimate.voted {
  background: #0088cc;
  color: #FFF;
}

.estimate.voted.winner {
  background: #C80000;
}

.estimate::after {
  content: attr(data-value);
  position: absolute;
  bottom: 0;
  left: 42%;
}

.notifications {
  font-size: 1.5 rem;
  text-align: center;
  margin: 10px auto;
}

.controls {
  margin: 0 auto;
  display: none;
  text-align: center;
}

.messaging {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;
}
